.menu__container {
    border-radius: 5px;
    padding: 20px 30px;
    position: absolute;
    top: 48px;
    right: 80px;
    background-color: #fff;
    -webkit-box-shadow: -1px 1px 5px 0px rgba(117,112,117,1);
    -moz-box-shadow: -1px 1px 5px 0px rgba(117,112,117,1);
    box-shadow: -1px 1px 5px 0px rgba(117,112,117,1);
}

.menu__list ul {
    list-style: none;
    text-align: right;
}

.menu__container ul li a {
   text-decoration: none;
   font-size: var(--ss);
   color: black;
}

.menu__container ul li {
    padding-bottom: 20px;
 }

.menu__container .menu__sign {
    text-align: right;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    color: var(--hospital-green);
    font-weight: 600;
    font-size: 11px ;
}

.menu__sign--border {
    border-top: 1px solid var( --very-light-pink);
    padding-bottom: 20px;
    margin-left: -5px;
    margin-right: -5px;
}