.orderItem__container {
    width: 100%;
    padding: 20px 0;
}

.orderItem__container--box {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.orderItem__container--sectionone {
    display: flex;
    flex-direction: row;
    align-items: center;
    color: var(--very-light-pink)
}

.orderItem__container--sectionone img {
    margin-right: 20px;
    width: 70px;
    height: 70px;
    border-radius: 5px;
}