.recovery__container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px 0;
}

.recovery__container--box {
    display: flex;
    flex-direction: column;
    align-items: center;
}

    .recovery__container--box p {
        color: gray;
        flex-wrap: wrap;
        text-align: center;
    }

.recovery__image--container {
    background-color: var(--text-input-field);
    border-radius:65px;
    height:130px;
    width:130px;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
}

.recovery__image {
    width: 80px;
    height: 80px;
}

.recovery__button {
    border-radius: 5px;
    padding: 10px;
    background-color: var(--hospital-green);
    color: white;
    font-size: var(--md);
    border: none;
    width: 100%;
    margin: 10px 0;
}

.recovery__container--box p .recovery__resend {
    text-decoration: none;
    background-color: red;
}