.header__container {
    display: flex;
    flex-direction: row;
    padding: 10px 0;
    
    -webkit-box-shadow: 0px 4px 8px -3px rgba(135,135,135,1);
    -moz-box-shadow: 0px 4px 8px -3px rgba(135,135,135,1);
    box-shadow: 0px 4px 8px -3px rgba(135,135,135,1);
}

.header__container--sectionone{
    display: flex;
    width: 60%;
    justify-content: left;
    margin-left: 20px;
}


.header__container--sectionthree {
    width: 40%;
    display: flex;
    justify-content: right;
    align-items: center;
    margin-right: 30px;
    padding: 0 10px;
}

.header__container--sectionthree .header__sign {
    color: var(--hospital-green);
    font-size: var(--sm);
    font-weight: 600;
}

.header__container--sectionthree svg {
    fill: gray;
    width: 20px;
    height: 20px;
    margin-left: 20px;
}

.header__email {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.header__email p {
    color: gray;
    font-weight: 400;
    margin-right: 5px;
    font-size: smaller;
}

.header__email svg {
    width: 10px;
    height: 10px;
    margin-left: 0;
}