.product__container {
    display: flex;
    flex-direction: column;
    margin: 10px 10px;
    border-radius: 10px;
    align-items: center;
    align-content: center;
    width: 200px;
    height: 270px;
}

.product__container img {
   width: 200px;
   height: 200px;
   border-radius: 10px;
}

.product__info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 200px;
}

.product__info svg {
    width:  20px;
    height: 20px;
    border-radius: 10px;
    background-color: var(--hospital-green);
    fill: #fff;
    padding: 2px;
}

.product__info--p {
    display: flex;
    flex-direction: column;
}

.product__info--title {
    font-size: var(--sm);
    font-weight: 800;
}

.product__info--text {
    font-size: var(--sm);
    font-weight: 400;
    color: gray;
}