.category__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    cursor: pointer;
    margin-top: 60px;
}

.category__container  h1{
   margin-bottom: 50px;
}

.category__aray {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    padding: 10px;
}

.category__image {
    width: 100px;
    height: 100px;
    border-radius: 50px;
}

.category__box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px;
    align-items: center;
    margin: 20px;
    background-color: var(--hospital-green);
    width: 180px;
    height: 180px;
    border-radius: 90px;
}


.category__box a {
    text-decoration: none;
    color: #fff;
    font-size: 20px;
}

@media (max-width: 800px) {
    .category__container  h1{
        margin-bottom: 5px;
        font-size: large;
        padding: 10px;
    }

    .category__container {
        margin-top: 30px;
    }
}