:root {
  --white: #FFFFFF;
  --black: #000000;
  --very-light-pink: #c7c7c7;
  --text-input-field: #f7f7f7;
  --hospital-green: #ACD9B2;
  --ss: 12px;
  --sm: 14px;
  --md: 16px;
  --lg: 18px;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: content-box;
}

body {
  font-family: 'Satisfy', cursive;
  /*font-family: 'Gentium Book Basic', serif;
  font-family: 'Satisfy', cursive;*/
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
