.navbar__container {
margin-left: 30px;
}

.navbar__container div {
   display: flex;
   flex-direction: row;
   align-items: center;
}

.navbar__container a {
    margin-left: 20px;
    text-decoration: none;
    padding: 10px;
    color: var(--very-light-pink);
}

.navbar__container a:hover {
    background-color: var(--hospital-green);
    color: #fff !important;
    border-radius: 10px;
}

.navbar__list--one {
    border-radius: 10px;
    border: 1px solid var(--hospital-green);
    padding: 1px 10px;
    color: var(--hospital-green)
}
